<template>
    <div class="content container-fluid">
        <div class="row" id="case-details">
                <div class="col-xs-12 col-lg-12">
                    <div style="width: 100% !important;background: rgb(87, 106, 140);margin: 0px;padding: 7px;color: #ffffff;">Case Data</div>
                </div>
                
        </div>

        <div class="row" id="case-details-content-tab">
            <div class="col-xs-12 col-lg-12">
                <div>
                    <b-card no-body>
                        <b-tabs card>
                            <b-tab active >
                                <div slot="title" title="Data Panel">
                                    Data Panel
                                </div>
                                <data-panel :id="ca"></data-panel>
                                </b-tab>
                                <!--<b-tab >-->
                                <!--<div slot="title" title="Data Panel">-->
                                    <!--<font-awesome-icon :icon="icons.faList" /> Filter Panel-->
                                <!--</div>-->
                                <!--<filter-panel></filter-panel>-->
                                <!--</b-tab>-->
                                <b-tab title="CellId Panel">
                                <cell-data-panel :id="ca"></cell-data-panel>
                                </b-tab>
                                <b-tab title="Graph Panel">
                                <graph-panel :id="ca"></graph-panel>
                                </b-tab>
                                <b-tab title="Relation">
                                <mind-map :caseId="ca"></mind-map>
                                </b-tab>
                                <b-tab title="Map Panel">
                                <!--<map-panel :id="ca"></map-panel>-->
                                </b-tab>
                                <b-tab title="Report Panel">
                                <report-panel :id="ca"></report-panel>
                                </b-tab>
                                <b-tab title="Link Analysis">
                                 <!--<link-analysis :id="ca"></link-analysis>-->
                                </b-tab>
                                <b-tab title="IMEI Report">
                                <imei-report :id="ca"></imei-report>
                                </b-tab>
                                <b-tab title="IP Analysis">
                                <ip-analysis :id="ca"></ip-analysis>
                                </b-tab>
                                <b-tab title="Mind Map Analysis">
                                    <map-analysis></map-analysis>
                                </b-tab>
                        </b-tabs>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import DataPanel from '../components/DataPanel'
import FilterPanel from '../components/FilterPanel'
import UploadCellData from "../components/UploadCellData";
import MapPanel from "../components/MapPanel";
import GraphPanel from "../components/GraphPanel";
import MindMap from "../components/MindMap"

import CellDataPanel from "../components/CellDataPanel";
import ReportPanel from "../components/ReportPanel";
import LinkAnalysis from "../components/LinkAnalysis";
import ImeiReport from "../components/ImeiReport";
import IpAnalysis from "../components/IPAnalysis";
import MapAnalysis from "../components/MapAnalysis";
export default {
    name: 'case-details',
    props: ['caseId', 'ca'],
    components: {
    IpAnalysis,
    LinkAnalysis,
    ReportPanel,
    CellDataPanel,
    GraphPanel,
    UploadCellData,
    FontAwesomeIcon, DataPanel, FilterPanel
    ,MindMap,
    MapPanel,
    ImeiReport,
    MapAnalysis
  }
}
</script>

<style scoped>
#case-details {
    color: #000;
}
.content {
}
.col-xs-12, .col-lg-12 {
    padding: 0px 0px 0px 0px !important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(14, 34, 66) !important;
    border-bottom: 1px solid rgb(33, 10, 10);
}
</style>


