<template>
<div class="content">
  <div class="row">
      <div class="col-xs-12 col-lg-12">
              <h5 class="content-header">Case Data</h5>
              <table class="table table-bordered table-striped table-sm">
                      <thead class="table-dark" style="background: #2e3a4cd9;">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Investigator</th>
                          <th scope="col">Assignee</th>
                          <th scope="col">File Date</th>
                          <th scope="col">Case Date</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="cdr in cases" v-bind:key="cdr.id">
                          <th scope="row">1</th>
                          <td>{{cdr.name}}</td>
                          <td>{{cdr.investigator}}</td>
                          <td>{{cdr.asignee}}</td>
                          <td>10-02-2018</td>
                          <td>10-02-2018</td>
                          <td>
                            <span @click="view(cdr.id)"><i class="material-icons">details</i></span>
                            <span><i class="material-icons">delete</i></span>
                          </td>
                        </tr>

                        
                      
                      </tbody>
                    </table>
      </div>
  </div>
</div>
</template>

<script>
// @ is an alias to /src
import CaseService from '../service/CaseService'

export default {
  name: 'home',
  data() {
    return {
      cases: []
    }
  },
  created() {
    this.loadData();
	},
  methods: {
    view(id) {
      // alert("Explore")
      this.$router.push('/details/'+id)
    },
    loadData() {
	    console.log("Loading Data");

      CaseService.getCases().then((response) => {
        console.log("DATA", response)
        this.cases = response.data
      });
    }
  }
}
</script>
<style scoped>
.content {
  float: left;
  margin-left: 2.5%;
  width: 95%;
  color: #ffffff !important;
  height: 100vh;
  z-index: 1;
  padding: 25px;
}
</style>

