<template>
    <div class="caseDetailsContainer">
      <b-tabs nav-wrapper-class="black">
        <b-tab active >
          <div slot="title" title="Data Panel">
            <font-awesome-icon :icon="icons.faGlobe" spin /> Data Panel
          </div>
          <data-panel :id="ca"></data-panel>
        </b-tab>
        <!--<b-tab >-->
          <!--<div slot="title" title="Data Panel">-->
            <!--<font-awesome-icon :icon="icons.faList" /> Filter Panel-->
          <!--</div>-->
          <!--<filter-panel></filter-panel>-->
        <!--</b-tab>-->
        <b-tab title="CellId Panesl">
          <cell-data-panel :id="ca"></cell-data-panel>
        </b-tab>
        <b-tab title="Graph Panel">
          <graph-panel :id="ca"></graph-panel>
        </b-tab>
        <b-tab title="Relation">
          <mind-map :caseId="ca"></mind-map>
        </b-tab>
        <b-tab title="Map Panel">
          <map-panel :id="ca"></map-panel>
        </b-tab>
        <b-tab title="Report Panel">
          <report-panel :id="ca"></report-panel>
        </b-tab>
        <b-tab title="Link Analysis">
          <link-analysis :id="ca"></link-analysis>
        </b-tab>
        <b-tab title="IMEI Report">
          <imei-report :id="ca"></imei-report>
        </b-tab>
        <b-tab title="IP Analysis">
          <ip-analysis :id="ca"></ip-analysis>
        </b-tab>
        <b-tab title="Mind Map Analysis">
          <map-analysis></map-analysis>
        </b-tab>
      </b-tabs>
    </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import DataPanel from './DataPanel'
import FilterPanel from './FilterPanel'
import UploadCellData from "./UploadCellData";
import MapPanel from "./MapPanel";
import GraphPanel from "./GraphPanel";
import MindMap from "./MindMap"

import {faCoffee, faHome, faList, faBook, faMobile, faGlobe} from '@fortawesome/fontawesome-free-solid'
import CellDataPanel from "./CellDataPanel";
import ReportPanel from "./ReportPanel";
import LinkAnalysis from "./LinkAnalysis";
import ImeiReport from "./ImeiReport";
import IpAnalysis from "./IPAnalysis";
import MapAnalysis from "./MapAnalysis";

export default {
  name: "CaseDetails",
  data() {
    return {
      ca: this.$route.params.id,
      icons: {faCoffee, faHome, faList, faBook,faMobile,faGlobe}
    }
  },
  render() {
    $('ul.tabs').tabs('select_tab', 'tab_id')
  },
  components: {
      MapAnalysis,
    IpAnalysis,
    LinkAnalysis,
    ReportPanel,
    CellDataPanel,
    GraphPanel,
    UploadCellData,
    FontAwesomeIcon, DataPanel, FilterPanel
    ,MindMap,
    MapPanel,
    ImeiReport
  }
}
</script>

<style scoped>
  .something {
    background: red !important;
  }
  .uploader {
    margin-top: 45%;
  }
  .black {
    background: rebeccapurple;
  }
</style>
