<template>
    <div class="cellDetailsPanel">

      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group >
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Filter data" />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = '', isFiltering = false,totalFiltered=0" class="btn btn-info">Clear</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col>
          <b-row>
            <b-col>
              <b-btn v-b-modal.modaluploadcell variant="info" class="button-cdr"  title="Upload CDR" align="right" align-self="end">
                <font-awesome-icon :icon="icons.faUpload"></font-awesome-icon>
              </b-btn>
              <upload-cell-data :case-id="id" title="Upload Cell ID Data"></upload-cell-data>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <!--<b-table thead-class="thead-cdr" responsive striped hover :per-page="perPage" :current-page="currentPage" :items="callDetails" :fields="fields">-->
          <!--</b-table>-->
          <b>{{total}} results</b>
          <b-table thead-class="thead-cdr" responsive striped hover
                   :per-page="perPage"
                   :filter="filter"
                   :current-page="page"
                   :items="cellData"
                   :fields="fields"
                   @filtered="onFiltered"
          >
            <template slot="location" slot-scope="data">
              {{data.value.address}} {{data.value.thana}} {{data.value.district}}
            </template>
            <template slot="action" slot-scope="data">
              View
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-pagination block :total-rows="total" v-model="page" :per-page="perPage" @change="changePage" color="red">
          </b-pagination>
        </b-col>
      </b-row>
    </div>
</template>

<script>
import UploadCellData from "./UploadCellData";

import axios from 'axios';

import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import {faUpload} from '@fortawesome/fontawesome-free-solid';

import CaseService from '../service/CaseService';

export default {
  components: {UploadCellData,FontAwesomeIcon},
  name: "cell-data-panel",
  props: ['id'],
  data() {
    return {
      isFiltering: false,
      totalFiltered: 0,
      cellData: [],
      perPage: 10,
      page: 1,
      icons: {faUpload},
      fields: [
        {
          key: 'cellId',
          label: 'Cell Id',
          sortable: true
        }
        ,{
          key: 'lac',
          label: 'LAC',
          sortable: true
        },
        {
          key: 'siteName',
          label: 'Site Name'
        },
        {
          key: 'sector',
          label: 'Sector'
        },
        {
          key: 'cgi',
          label: 'CGI'
        },
        {
          key: 'typeOfRbs',
          label: 'BTS Type'
        },
        {
          key: 'longitude',
          label: 'Longitude'
        },
        {
          key: 'latitude',
          label: 'Latitude'
        },
        {
          key: 'orientation',
          label: 'Orientation'
        },
        'location',
        'action'
      ],
      filter: null
    }
  },
  created() {
    CaseService.getCellIdDetails(this.id)
      .then((response) => {
        this.cellData = response.data;
      })
      .then((err) => {
        //console.log(err);
      });
  },
  methods: {
    changePage(currentPage) {
      // console.log(currentPage);
      this.page = currentPage;
      // console.log("CURRENT PAGE ", this.page);
    },
    onFiltered(filteredData) {
      this.totalFiltered = filteredData.length
      this.page = 1;
      this.isFiltering = true;
    }
  },
  computed: {
    total() { return this.isFiltering ? this.totalFiltered : this.cellData.length}
  }
}
</script>

<style scoped>

</style>
