<template>
    <div class="dataContainer">
      <br>
      <b-row>
        <b-col>
          <b-form-select v-model="operandA" :options="columns" class="mb-3" />
        </b-col>
        <b-col>
          <b-form-select v-model="operator" :options="operators" class="mb-3" />
        </b-col>
        <b-col v-if="!isDateField">
          <b-form-input v-model="value" class="mb-3" placeholder="Search Key" @keyup="change" />
        </b-col>
        <b-col v-if="isDateField">
          <b-form-input type="date" v-model="value" class="mb-3" placeholder="Date Field" />
        </b-col>
        <b-col>
          <b-button :disabled="isFilled == false" block @click="addToFilter">Add To Filter</b-button>
        </b-col>
        <b-col>
          <b-button block @click="doSearch">Search</b-button>
        </b-col>
        <b-col>
          <b-button block @click="clearSearch">Clear Search</b-button>
        </b-col>
      </b-row>

      <b-row v-if="search.length > 0">
        <b-col>
          <b>Filters:: </b> <span v-for="s in search" v-bind:key="s.key">{{s.key}}=>{{s.value}}  || </span>
        </b-col>
      </b-row>

      <b-row>
        <b-col></b-col>
        <b-col>
          <b-row>
            <b-col>
              <b-btn v-b-modal.modaluploadcdr variant="info" class="button-cdr" title="Upload CDR" align="right" align-self="end">
                <font-awesome-icon :icon="icons.faUpload"></font-awesome-icon>
              </b-btn>
              <upload-cdr title="Upload CDR" :case-id="id"></upload-cdr>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="10">
          <b-table thead-class="thead-cdr" class="specifictd table-sm" responsive striped hover :per-page="perPage" :current-page="currentPage" :items="callDetails" :fields="fields">

            <template slot="#" slot-scope="data">

              <!-- A custom formatted data column cell -->
              <p v-if="data.item.usageType.indexOf('MOC') > -1" title="Outgoing Call">
                <font-awesome-icon :icon="icons.faPhone" style="color: #ff0000"  ></font-awesome-icon>
              </p>

              <p v-if="data.item.usageType.indexOf('MTC') > -1" title="Incoming Call">
                <font-awesome-icon :icon="icons.faPhone" style="color: #00ff00" title="Incoming Call"></font-awesome-icon>
              </p>

              <p v-if="data.item.usageType.indexOf('SMS') > -1 && data.item.usageType.indexOf('MT') > -1" title="Incoming SMS">
                <font-awesome-icon :icon="icons.faEnvelope" title="Incoming SMS" style="color: #00ff00"></font-awesome-icon>
              </p>
              <p v-if="data.item.usageType.indexOf('SMS') > -1 && data.item.usageType.indexOf('MO') > -1" title="Outgoing SMS">
                <font-awesome-icon :icon="icons.faEnvelope" style="color: #ff0000" title="Outgoing SMS"></font-awesome-icon>
              </p>
            </template>

            <template slot="date" slot-scope="data">
                <!-- A custom formatted data column cell -->
               {{new Date(data.item.date).toLocaleString()}}
            </template>

          </b-table>
          <b-row>
            <b-col>
              <b-pagination block :total-rows="callDetails.length" v-model="currentPage" :per-page="perPage" @change="changePage" color="red">
              </b-pagination>
            </b-col>
            <b-col align="right" align-self="end">
              <b class="right" align="right" align-self="end">{{callDetails.length}} results</b>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
              <button class="btn btn-primary btn-block btn-sm" @click="loadData">All Calls & SMSs</button>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col>
              <button class="btn btn-primary btn-block btn-sm" @click="nightCalls">Night Call</button>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col>
              <button class="btn btn-primary btn-block btn-sm" @click="dayCalls">Day Call</button>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col>
              <button class="btn btn-primary btn-block btn-sm" @click="suspectedCalls">Suspected</button>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col>
              <button class="btn btn-primary btn-block btn-sm" @click="sms">SMS</button>
            </b-col>
          </b-row>
          <br>
          <b-row>
            <b-col>
              <button class="btn btn-primary btn-block btn-sm" @click="exportToCSV">Export To CSV</button>
            </b-col>
          </b-row>

        </b-col>
      </b-row>


    </div>
</template>

<script>

  function isEmpty(value) {
    return value === null || value === '' ;
  }

import UploadCdr from "./UploadCDR";
import axios from 'axios';

import CaseService from '../service/CaseService';

import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import {faUpload, faEnvelope, faPhone } from '@fortawesome/fontawesome-free-solid';

export default {
  name: "data-panel",
  props: ['id'],
  components: {UploadCdr, FontAwesomeIcon},
  data() {
    return {
      operandA: null,
      operandB: null,
      operator: null,
      value:null,
      columns: [
        {text: 'Search Columns', value: null},
        {text: 'Caller', value: 'caller'},
        {text: 'Receiver', value: 'receiver'},
        {text: 'Start Date', value: 'startDate'},
        {text: 'End Date', value: 'endDate'},
        {text: 'IMEI', value: 'imei'},
        {text: 'Cell Id', value: 'cellId'},
        {text: 'LAC', value: 'lac'}
        // {text: 'Longitude', value: 'longitude'},
        // {text: 'Latitude', value: 'latitude'}
      ],
      operators: [
        {text: 'Operator', value: null},
        {text: '=', value: 'eq'},
        {text: '>', value: 'gt'},
        {text: '>', value: 'lt'},
        {text: '<=', value: 'lte'},
        {text: '>=', value: 'gte'}
      ],
      search: [],
      dark: 'dark',
      icons: {faUpload, faEnvelope, faPhone},
      fields: [
        '#',
        {
          key: 'date',
          label: 'Date',
          sortable: true
        },
        {
          key: 'caller',
          label: 'Party A'
        },
        {
          key: 'receiver',
          label: 'Party B'
        },
        {
          key: 'callDuration',
          label: 'Duration'
        },
        {
          key: 'usageType',
          label: 'Type'
        },
        {
          key: 'lac',
          label: 'LAC'
        },
        {
          key: 'cellId',
          label: 'Cell'
        },
        {
          key: 'imei',
          label: 'IMEI'
        },
        {
          key: 'address',
          label: 'BTS Address'
        }
      ],
      callDetails:[],
      caseId: 0,
      perPage: 6,
      currentPage: 1
    }
  },
  created() {
    this.caseId = this.id;
    this.loadData();
  },
  methods: {
    changePage(currentPage) {
      // console.log(currentPage)
      this.currentPage = currentPage
    },
    loadData() {
        CaseService.getCaseDetails(this.id)
        .then((response) => {
          this.callDetails = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addToFilter() {
      let key = this.operandA;
      let value = this.value;
      let operator = this.operator;
      let obj = {key, operator , value};
      this.search.push(obj);
      this.operandA = null;  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3, IS_OPERATOR_SELECTED = 0;

      this.value = null;
      this.operator = null;

      this.doSearch();
    },
    doSearch() {
      CaseService.doSearch(this.search, this.id)
      .then((response)=> {
        this.callDetails = response.data;
      })
      .catch((err)=> {
        console.log(err);
      });
    },
    change() {
      // console.log(this.value);
    },
    clearSearch() {
        this.search = [];
        this.loadData();
    },
    nightCalls() {
      CaseService.getNightCalls(this.id)
      .then((response)=> {
        this.callDetails = response.data;
        this.currentPage = 1;
      })
      .catch((err) => {
        // console.log(err);
        alert("An error occurred");
      });
    },
    dayCalls() {
      CaseService.getDayCalls(this.id)
        .then((response)=> {
          this.callDetails = response.data;
          this.currentPage = 1;
        })
        .catch((err) => {
          // console.log(err);
          alert("An error occurred");
        });
    },
    suspectedCalls() {
      CaseService.getSuspectedCalls(this.id)
      .then((response)=> {
        this.callDetails = response.data;
        this.currentPage = 1;
      })
      .catch((err) => {
        // console.log(err);
        alert("An error occurred");
        console.log(JSON.stringify(err))
      });
    },
    exportToCSV() {
      // const rows = [["name1", "city1", "some other info"], ["name2", "city2", "more info"]];
      let csvContent = "data:text/csv;charset=utf-8,";

      let header = "";
      for(let key in this.callDetails[0]) {
        if(header == "") {
          header = key;
        }else {
          header += "," + key;
        }
      }

      csvContent+=header;

      this.callDetails.forEach(function(rowArray){
        console.log(rowArray);
        let row = "";
        for (let key in rowArray) {

          if(row== "") {
            row = rowArray[key];
          }else {
            row+= "," +rowArray[key];
          }

        }
        csvContent += row + "\r\n";

      });

      let encodedUri = encodeURI(csvContent);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("id", "myDownload");
      link.setAttribute("download", "data"+new Date()+ ".csv");
      document.body.appendChild(link); // Required for FF

      link.click();
      $("#myDownload").remove();
    },
    sms() {
      CaseService.getCaseDetails(this.id)
        .then((response) => {
          this.callDetails = response.data;
          this.callDetails = this.callDetails.filter(function (item) {
            if(item.usageType.indexOf("SMS") > -1) return item;
          })
          this.currentPage = 1;
        })
        .catch((error) => {
          console.log(error);
        });

    }
  },
  watch: {
    isFilled() {
      // console.log("watching...");
      return isEmpty(this.operandA) && isEmpty(this.operator) && isEmpty(this.value);
    }
  },
  computed: {
    isDateField() {
      return (this.operandA === 'startDate' || this.operandA === 'endDate') ? true: false;
    },
    isFilled() {
      return !isEmpty(this.operandA) && !isEmpty(this.operator) && !isEmpty(this.value);
    },
    computeType(value) {
      console.log(value);
      return value;
    }
  }
}
</script>

<style>
  .red {
    background: crimson;
  }
  .button-cdr {
    margin: 7px !important;
    float: right;
  }
  .thead-cdr {
    background: #233e6e;
    color: #ffffff;
  }
  .page-item.active .page-link {
    background: #233e6e !important;
  }
  .page-item .page-link {
    color: #233e6e !important;
  }

  .btn-primary {
    background-color: #13294b !important;
    border-color: #13294b !important;
  }


  @media (max-width: 768px) { /* use the max to specify at each container level */
    .specifictd {
      width:360px;  /* adjust to desired wrapping */
      display:table;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
  }
</style>
