<template>
<div class="filterContainer">
  <br>
  <b-row>
    <b-col col lg="7">
      <b-row>
        <b-col>
          <b-form-select v-model="operandA" :options="columns" class="mb-3" />
          <div>Selected: <strong>{{ operandA }}</strong></div>
        </b-col>
        <b-col>
          <b-form-select v-model="operator" :options="operators" class="mb-3" />
          <div>Selected: <strong>{{ operator }}</strong></div>
        </b-col>
        <b-col v-if="!isDateField">
          <b-form-input v-model="value" class="mb-3" @keyup="change" />
          <div>Selected: <strong>{{ value }}</strong></div>
        </b-col>
        <b-col v-if="isDateField">
          <b-form-input type="date" v-model="value" class="mb-3" placeholder="Date Field" />
          <div>Selected: <strong>{{ value }}</strong></div>
        </b-col>
        <b-col>
          <b-button :disabled="isFilled == false" block @click="addToFilter">Add To Filter</b-button>
        </b-col>
        <b-col>
          <b-button block @click="doSearch">Search</b-button>
        </b-col>
      </b-row>
    </b-col>
    <b-col col lg="5">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum eaque eligendi eos hic illum ipsum numquam?
        Blanditiis commodi culpa dolore excepturi incidunt laborum odit quibusdam reprehenderit? Consectetur,
        perspiciatis, soluta?</p>
    </b-col>
  </b-row>
  <b-row>
    <b-col>

    </b-col>
  </b-row>
</div>
</template>

<script>
import DataPanel from "./DataPanel";

import axios from 'axios';

function isEmpty(value) {
  return value === null || value === '' ;
}

export default {
  components: {DataPanel},
  name: "filter-panel",
  data() {
      return {
        operandA: null,
        operandB: null,
        operator: null,
        value:null,
        columns: [
          {text: 'Field', value: null},
          {text: 'Caller A', value: 'caller'},
          {text: 'Caller B', value: 'receiver'},
          {text: 'Start Date', value: 'date'},
          {text: 'End Date', value: 'endDate'},
          {text: 'Cell Id', value: 'cellId'},
          {text: 'LAC', value: 'lac'},
          {text: 'Longitude', value: 'longitude'},
          {text: 'Latitude', value: 'latitude'}
        ],
        operators: [
          {text: 'Operator', value: null},
          {text: '=', value: 'eq'},
          {text: '>', value: 'gt'},
          {text: '>', value: 'lt'},
          {text: '<=', value: 'lte'},
          {text: '>=', value: 'gte'}
        ],
        search: []
      }
  },
  computed: {
    isDateField() {
      return (this.operandA === 'startDate' || this.operandA === 'endDate') ? true: false;
    },
    isFilled() {
      return !isEmpty(this.operandA) && !isEmpty(this.operator) && !isEmpty(this.value);
    }
  },
  watch: {
    isFilled() {
      console.log("watching...");
      return isEmpty(this.operandA) && isEmpty(this.operator) && isEmpty(this.value);
    }
  },
  methods: {
    addToFilter() {
      let key = this.operandA;
      let value = this.value;
      let operator = this.operator;
      let obj = {key, operator , value};
      this.search.push(obj);
      this.operandA = null;
      this.value = null;
      this.operator = null;
    },
    doSearch() {

      axios.post("http://localhost:1337/cdr/search/cdr", this.search, {headers: {
        'accept': 'text/plain',
        'Access-Control-Allow-Origin': '*'
      }})
        .then((response)=> {
          console.log(response);
          //this.$parent.$emit('closeModals');
        })
        .catch((exception) => {
          console.log(exception);
          //this.$parent.$emit('closeModals');
        });
    },
    change() {
      console.log(this.value);
    }
  }
}
</script>

<style scoped>

</style>
