<template>
  <div class="graphContainer">
    <!--<canvas v-insert-message="exampleContent" height="500" width="1000"></canvas>-->
    <!--{{insertMessage}}-->
    <b-row>
      <b-col lg="4">
        <bar-chart :id="id"></bar-chart>
      </b-col>
      <b-col lg="4">
        <line-chart :id="id"></line-chart>
      </b-col>
      <b-col lg="4">
        <pie-chart :id="id"></pie-chart>
      </b-col>
    </b-row>
<b-row>
    <b-col>

    </b-col>
</b-row>
  </div>
</template>

<script>
import BarChart from "./BarChart";
import LineChart from "./LineChart";
import PieChart from "./PieChart";
import Dracula from 'graphdracula';
import axios from 'axios';

let Graph = Dracula.Graph
let Renderer = Dracula.Renderer.Raphael
let Layout = Dracula.Layout.Spring

export default {
  components: {
    PieChart,
    LineChart,
    BarChart},
  name: "graph-panel",
  props: ['id'],
  data() {
    return {
      exampleContent: null,
      hell: []
    }
  },
  created() {
    // axios.get('http://localhost:1337/cdr/celldetails?cid=1')
    //   .then((rs)=> {
    //     this.hell = rs.data;
    //   })
    //   .catch((er)=>{})
  },
  render() {
    // let graph = new Graph()
    //
    // graph.addEdge('Banana', 'Apple')
    // graph.addEdge('Apple', 'Kiwi')
    // graph.addEdge('Apple', 'Dragonfruit')
    // graph.addEdge('Dragonfruit', 'Banana')
    // graph.addEdge('Kiwi', 'Banana')
    //
    // let layout = new Layout(graph)
    // let renderer = new Renderer('#paper', graph, 400, 300)
    // renderer.draw()
    setTimeout(()=>{
      $("svg").css("top", "160px");
    },1000)
  },
  directives: {
    insertMessage: function(canvasElement, binding) {
      // Get canvas context
      let ctx = canvasElement.getContext("2d");



      var Dracula = require('graphdracula')

      var Graph = Dracula.Graph
      var Renderer = Dracula.Renderer.Raphael
      var Layout = Dracula.Layout.Spring

      var graph = new Graph()

      graph.addEdge('Banana', 'Apple')
      graph.addEdge('Apple', 'Kiwi')
      graph.addEdge('Apple', 'Dragonfruit')
      graph.addEdge('Dragonfruit', 'Banana')
      graph.addEdge('Kiwi', 'Banana')

      var layout = new Layout(graph)
      var renderer = new Renderer(ctx, graph, 400, 300)
      renderer.draw()

      // Clear the canvas
      // Insert stuff into canvas
      // ctx.fillStyle = "black";
      // ctx.font = "20px Georgia";
      // ctx.fillText(binding.value, 10, 50);
      //
      // axios.get('http://localhost:1337/cdr/calldetails?cid=1')
      //   .then((rs)=> {
      //     const sailNames = rs.data;
      //
      //     if(sailNames.length > 0) {
      //       // setTimeout(()=>{
      //       let g = new Graph();
      //       console.log("You get values ", sailNames);
      //
      //       $.each(sailNames, function (i,item) {
      //         console.log("Node added ", item);
      //         g.addEdge(item.caller, item.receiver);
      //       });
      //
      //       let layouter = new Dracula.Layout.Spring(g);
      //       layouter.layout();
      //
      //
      //       let renderer = new Dracula.Renderer.Raphael(ctx, g, "500px", "500px");
      //
      //       renderer.draw();
      //
      //
      //
      //       // }, 3000)
      //     }
      //
      //
      //   })
      //   .catch((er)=>{})

      const sailNames = [];
      // $.each(binding.value, function (i,item) {
      //   sailNames.push(item)
      // })


      // var g = new Dracula.Graph();
      //
      // g.addEdge("strawberry", "cherry");
      // g.addEdge("strawberry", "apple");
      // g.addEdge("strawberry", "tomato");
      //
      // g.addEdge("tomato", "apple");
      // g.addEdge("tomato", "kiwi");
      //
      // g.addEdge("cherry", "apple");
      // g.addEdge("cherry", "kiwi");


    }
  },
  watch: {
    exampleContent: function() {
      console.log("exampleContent changed to " + this.exampleContent);
    }
  }
}
</script>

<style>
  /*svg {*/
   /*width: 100%;*/
  /*}*/
  iframe {
    width: 100%;
    height: 100vh;
  }
</style>
