<template>
	<div class="homeContainer" @reLoadData="loadData">
    <br>
    <b-row>
      <b-col cols="1">
        <b-btn v-b-modal.modallg variant="danger" title="Create New Case"><font-awesome-icon :icon="faPlus"></font-awesome-icon> New Case</b-btn>
      </b-col>
      <b-col cols="11">


        <b-table striped hover :items="cases" :fields="fields">
          <template slot="id" slot-scope="data">
            <a v-bind:href="'#/cases/details/'+data.item.id">{{data.item.id}}</a>
          </template>
          <template slot="fileDate" slot-scope="data">
            {{new Date(data.item.fileDate).toLocaleString()}}
          </template>

          <template slot="caseDate" slot-scope="data">
            {{new Date(data.item.caseDate).toLocaleString()}}
          </template>
        </b-table>
      </b-col>
    </b-row>

    <app-modal :currentView="modalComponent" :title="modalTitle"></app-modal>
	</div>
</template>

<script type="text/javascript">
import CaseService from '../service/CaseService';

import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import {faPlus} from '@fortawesome/fontawesome-free-solid';
import AppModal from "./Modal";
import NewCase from "./NewCase";

export default {
	name: 'home',
  components: {FontAwesomeIcon, AppModal},
	data() {
		return {
			cases: [],
      faPlus: faPlus,
      modalComponent: NewCase,
      modalTitle: "New Case",
      fields: [
        {
          key: 'id',
          label: 'Case Id'
        }, {
          key: 'asignee',
          label: 'Assignee'
        }
        , {
          key: 'investigator',
          label: 'Investigation Officer'
        }
        , {
          key: 'caseDate',
          label: 'Case Date'
        },
        {
          key: 'fileDate',
          label: 'Case Filed'
        }
      ]
		};
	},
	created() {
    this.loadData();
	},
  methods: {
	  loadData() {
	    console.log("Loading Data");

      CaseService.getCases().then((response) => {
        console.log("DATA", response)
        this.cases = response.data
      });
    }
  }
}
</script>

<style type="text/css">

</style>
