<template>
  <div class="imei-report-controller">

    <b-row>
      <b-col cols="4">
        <b-form-input v-model="caller" placeholder="Caller" />
      </b-col>
      <b-col cols="4">
        <b-button @click="getReport">Fetch Report</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-6">
        <b-table :items="report" :fields="fields" :per-page="perPage" :current-page="currentPage">
            <template slot="action" slot-scope="data">
              <span class="details" @click="displayDetails(data.item.receiver, data.item.imei)">View Details</span>
            </template>
        </b-table>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="col-3">
        <b-pagination block :total-rows="report.length" v-model="currentPage" :per-page="perPage" @change="changePage" color="red">
        </b-pagination>
      </b-col>
      <b-col align="right" align-self="end" class="col-3">
        <b class="right" align="right" align-self="end">{{report.length}} results</b>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        Details For
        <b-col class="col-6">
          <b-table :items="cdr">

          </b-table>
        </b-col>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CaseService from '../service/CaseService'
export default {
  name: 'imei-report',
  props: ['id'],
  data() {
      return {
          fields: [
            {
                key: 'receiver'
            },
            {
                key: 'imei'
            },
            {
              key: 'total'
            },
            'action'],
          report: [],
          caller: null,
          perPage: 5,
          currentPage: 1,
          cdr:[]
      }
  },
  methods: {
      getReport() {
          console.log("Something c");
        CaseService.getImeiReport(this.id, this.caller)
          .then((response)=> {
            this.report = response.data;
          })
          .catch((err)=>{
            console.log("error", err);
          })
      },
      changePage(currentPage) {
        // console.log(currentPage)
        this.currentPage = currentPage
      },
      displayDetails(receiver, imei) {
        CaseService.getCDRByReceiverAndIMEI(this.id,receiver,imei)
          .then((response)=> {
            this.cdr = response.data
          })
          .catch((err)=> {
            console.log("Error", err);
          });
      }
  }
}
</script>

<style>
  .details:hover {
    text-decoration: underline;
  }
</style>
