<template>
  <div class="networkContainer">
    Network Analysis
    <network ref="xx" :nodes="nodes" :options="options" :edges="edges" class="network" @doubleClick="networkEvent"></network>
  </div>
</template>

<script>
import Network from "vue2vis/src/components/Network";
import axios from 'axios'
import CaseService from '../service/CaseService';
export default {
  name: "link-analysis",
  components: {Network},
  component: {Network},
  props:['id'],
  data() {
    return {
      nodes: [],
      edges: [],
      options: {
        autoResize: true,
        height: '100%',
        width: '100%',
        edges: {
          color: {
            color:'#848484',
            highlight:'#848484',
            hover: '#848484',
            opacity:1.0
          },
          arrows: {
            to: {
              scaleFactor: 1
            }
          }, scaling:{
            label: true,
          },
          shadow: true,
          smooth: true,
        },
        nodes:{
          color: {
            background: '#ffffff'
          },
          shape: 'box'
        },
        physics: true
      }
    }
  },
  created() {
      CaseService.getLinkAnalysis(this.id)
      .then((res) => {
        this.edges = res.data.edges
        this.nodes = res.data.nodes
      })
      .catch((exp) => {});
  },
  methods: {
    networkEvent(e,d) {
//      this.$refs.xx.nodes.map(function (item) {
//        if()
//      })

      let selectedNode = this.nodes.filter((item)=>{
          if(item.id == e.nodes[0])
              return item;
        })

      if(selectedNode.length > 0) {
        let analysis = selectedNode[0].analysis;
        CaseService.getCDRByCallerAndReceiver(this.id, analysis.caller, analysis.receiver)
          .then((response) => {
            let message =
              "Caller:: "+ response.data[0].caller +"\n"+
              "Receiver:: "+response.data[0].receiver +"\n"+
              "LAC:: "+response.data[0].lac +"\n"+
              "CELL:: "+response.data[0].cellId +"\n"+
              "Type:: "+response.data[0].usageType +"\n";
            alert(message);
          })
          .catch((err) => {

          });
      }

    }
  }
}
</script>

<style scoped>
  .network{
    width:100%;height: 80vh;border: 1px solid lightgray;padding: 20px;
  }
</style>
