<template>
    <div>
      <mindmap
        :nodes="nodes"
        :connections="connections"
        :editable="true"
      />
    </div>
</template>

<script>
  import map from "../service/data"
    export default {
      name: "map-analysis",
      data() {
        return {
          title: map.title,
          nodes: map.nodes,
          connections: map.connections
        }
      }
    }
</script>

<style scoped>

</style>
