<template>
  <div class="reportContainer">
    <GmapMap
      ref="mapRef"
      :center="markers[0] != null ? markers[0].position: {lat: 0,lng: 0}"
      :zoom="13"
      map-type-id="terrain"
      :style="mapStyle"
    >
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
        :draggable="false"
        @click="center=m.position"
        :title="'talked with '+ m.cdr.receiver + ' at '+ new Date(m.cdr.date)"
      />

      <!--<GmapCircle-->
        <!--:key="indx"-->
        <!--v-for="(m, indx) in markers"-->
        <!--:center="m.position"-->
        <!--:radius="500"-->
        <!--:options="opt"-->
      <!--/>-->

      <GmapPolygon
        :path="po"
      />

    </GmapMap>
  </div>
</template>

<script>
  import axios from 'axios'
  import CaseService from '../service/CaseService'
export default {
  name: "map-panel",
  props: ['id'],
  data() {
    return {
      center: {lat: 0.0, lng: 0.0},
      markers: [],
      opt: {
        strokeColor: '#888888',
        strokeOpacity: 0.5,
        strokeWeight: 1,
        fillColor: 'rgba(255,0,0,0.25)',
        fillOpacity: 0.25
      }
    }
  },
  created() {
    // alert("Created");
    CaseService.getLocationByCell(this.id)
      .then((response) => {
        this.markers = response.data

      })
      .catch((err) => {})
  },
  mounted () {
    // At this point, the child GmapMap has been mounted, but
    // its map has not been initialized.
    // Therefore we need to write mapRef.$mapPromise.then(() => ...)
    // this.$refs.mapRef.$mapPromise.then((map) => {
    //   map.panTo(kutta)
    // })
    // alert("Mounted");
  },
  render() {


  },
  computed: {

    mapStyle() {
      return "width: "+window.innerWidth+"px; height: "+window.innerHeight+"px"
    },
    po() {
      let s = [];
      for(let i=0;i< this.markers.length; i++) {
        s.push(this.markers[i].position)
      }

      return s;
    }
  }

}
</script>

<style scoped>

</style>
