<template>
    <div class="mind-map">
     <b-tabs card vertical>
       <b-tab>
         <div slot="title" title="CDR">
           CDR
         </div>
         <iframe :src="graphURI" frameborder="0" scrolling="no" ></iframe>
       </b-tab>
       <!--<b-tab>-->
         <!--<div slot="title" title="Suspects">-->
           <!--Suspects-->
         <!--</div>-->
         <!--<iframe :src="graphURI" frameborder="0" scrolling="no" onload="resizeIframe(this)" ></iframe>-->
       <!--</b-tab>-->
     </b-tabs>
    </div>
</template>

<script>

  const HEIGHT = Number(window.innerHeight);
  const WIDTH = Number(window.innerWidth);
  import CaseService from '../service/CaseService';
  const items = 1;
export default {
  name: "mind-map",
  props: ['caseId'],
  data() {
    return {
      graphURI: CaseService.getBASEURL() + '/graph?caseId='+ this.caseId + '&w='+ parseInt(WIDTH/items -300 + "") + '&h='+ parseInt(HEIGHT + "")
    }
  }

}
</script>

<style scoped>
  .box{
    float:left;
    margin-right:20px;
  }
</style>
