<template>
  <div>
    <b-modal id="modallg"
       size="lg"
       :title="title"
       variant="info"
       :no-close-on-backdrop=true
       header-bg-variant="info"
       header-text-variant="light"
       :hide-footer=true
       :lazy=true
       ref="newCaseModalRef"
             @closeModals="closeModal"
            >
      <component v-bind:is="currentView">
        <!-- component changes when vm.currentView changes! -->
      </component>
      <!--<div slot="modal-footer" class="w-100">-->
        <!--<b-button size="sm" class="float-left" variant="danger" @click="show=false">-->
          <!--Close-->
        <!--</b-button>-->
        <!--<div class="float-right">-->
          <!--<b-button type="submit" size="sm" variant="primary">Submit</b-button>-->
          <!--<b-button type="reset" size="sm" variant="danger">Reset</b-button>-->
        <!--</div>-->
      <!--</div>-->
    </b-modal>
  </div>

</template>

<script>
import Button from "bootstrap-vue/es/components/button/button";

export default {
  components: {Button},
  name: "app-modal",
  props: ['currentView','title'],
  methods: {
    closeModal() {
      console.log("Invoking from child");
      this.$refs.newCaseModalRef.hide();
      this.$parent.loadData();
    }
  }
}
</script>

<style scoped>

</style>
