<template>
    <div class="navigationContainer">
      <b-navbar toggleable="md" type="dark" variant="dark">

        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

        <b-collapse is-nav id="nav_collapse">

          <b-navbar-nav>
            <b-nav-item v-if="isVisibleBackBtn">
              <button @click="back"><<</button>
            </b-nav-item>
            <!--<b-nav-item href="/cases/new" title="Create New Case">+</b-nav-item>-->
            <b-nav-item>
              <span>{{routeName}}</span>
              <!--<b-btn v-b-modal.modallg variant="danger" title="Create New Case"><font-awesome-icon :icon="faPlus"></font-awesome-icon></b-btn>-->
            </b-nav-item>
            <b-nav-item>
              <router-link to="/">Home</router-link>
            </b-nav-item>
            <b-nav-item>
              <b-link to="/translator">Translator</b-link>
            </b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">

            <b-nav-item right>
              <em>iCA6 Phone Call Data Analyzer</em>
              <!-- Using button-content slot -->
              <!--<template slot="button-content">-->
                <!--<em>iCA6 Phone Call Data Analyzer</em>-->
              <!--</template>-->
              <!--<b-dropdown-item href="#">Profile</b-dropdown-item>-->
              <!--<b-dropdown-item href="#">Signout</b-dropdown-item>-->
            </b-nav-item>
          </b-navbar-nav>

        </b-collapse>
      </b-navbar>
      <!--<app-modal :currentView="modalComponent" :title="modalTitle"></app-modal>-->
    </div>
</template>

<script>
import AppModal from "./Modal";
import NewCase from "./NewCase";
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import {faPlus} from '@fortawesome/fontawesome-free-solid'
export default {
  components: {AppModal, FontAwesomeIcon},
  name: "navigation",
  data() {
    return {
      modalComponent: NewCase,
      modalTitle: "New Case",
      faPlus,
      routeName: 'Cases'
    }
  },

  computed: {
    isVisibleBackBtn() {
      return this.$route.name !== 'Cases' && this.$route.name !== 'Translator';
    }
  },

  watch:{
    $route (to, from){

      this.routeName = to.name
    }
  },

  methods: {
    back() {
      this.$router.push('/');
    }
  }
}
</script>

<style scoped>

</style>
