<template>
	<div class="caseContainer">
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="nameGroup"
                    label="Case Name:"
                    label-for="name"
                    description="Please input case name here.">
        <b-form-input id="name"
                      type="text"
                      v-model="form.name"
                      required
                      placeholder="Enter Case Name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="invOGroup"
                    label="Investigation Officer:"
                    label-for="invOfficer">
        <b-form-input id="invOfficer"
                      type="text"
                      v-model="form.investigationOfficier"
                      required
                      placeholder="Enter a name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="assigneeGroup"
                    label="Assignee:"
                    label-for="assignee">
        <b-form-input id="assignee"
                       required
                       v-model="form.assignee">
        </b-form-input>
      </b-form-group>
      <b-form-group id="caseDateGroup"
                    label="Case Date:"
                    label-for="caseDate">
        <!--<b-form-input id="caseDate"-->
                      <!--type="date"-->
                      <!--v-model="form.caseDate"-->
                      <!--required-->
                      <!--placeholder="Enter case date">-->
        <!--</b-form-input>-->
        <date-picker id="caseDate" required v-model="form.caseDate" :config="config"></date-picker>
      </b-form-group>
      <b-form-group id="fileDateGroup"
                    label="File Date:"
                    label-for="fileDate">
        <!--<b-form-input id="fileDate"-->
                      <!--type="date"-->
                      <!--v-model="form.fileDate"-->
                      <!--required-->
                      <!--placeholder="Enter file date">-->
          <date-picker id="fileDate" required v-model="form.fileDate" :config="config"></date-picker>
        <!--</b-form-input>-->
      </b-form-group>
      <div class="float-right">
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </div>
    </b-form>
	</div>
</template>

<script type="text/javascript">
  // Import this component
  import datePicker from 'vue-bootstrap-datetimepicker';
  // import datePicker from '../../node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker';

  import axios from 'axios';

  import CaseService from '../service/CaseService'

  // Import date picker css
  import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
export default {
	name: 'new-case',
	render: function() {
		// $('.datepicker').pickadate({
		//     selectMonths: true, // Creates a dropdown to control month
		//     selectYears: 15, // Creates a dropdown of 15 years to control year,
		//     today: 'Today',
		//     clear: 'Clear',
		//     close: 'Ok',
		//     closeOnSelect: false // Close upon selecting a date,
		//   });
	},
  components: {datePicker},
  data () {
    return {
      form: {
        name: null,
        investigationOfficier: null,
        assignee: null,
        caseDate: new Date(),
        fileDate: new Date()
      },
      show: true,
      config: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
        toolbarPlacement: "bottom",
      }
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();

      // alert(JSON.stringify(this.form));
      let payload = {
        headers: {
          'accept': 'text/plain',
          'Access-Control-Allow-Origin': '*'
        },
        body: this.form
      };
      axios.post(window.location.origin+"/datalize/cdr/cases/create", this.form, {headers: {
          'accept': 'text/plain',
          'Access-Control-Allow-Origin': '*'
        }})
        .then((response)=> {
          console.log(response);
          this.$parent.$emit('closeModals');
        })
        .catch((exception) => {
          console.log(exception);
          this.$parent.$emit('closeModals');
        });

    },
    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = '';
      this.form.name = '';
      this.form.food = null;
      this.form.checked = [];
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }

}
</script>
