<template>
  <div class="report-panel" >

    <b-row class="panel">
      <b-col cols="3 sidebar">
        <b-row>
          <b-col>
            <b-row>
              <b-col cols="7">
                <b-form-select v-model="filter" :options="options" />
              </b-col>
              <b-col cols="5">
                <b-button @click="optionChanged" class="btn-info btn-block">Get Report</b-button>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col>
            <b-row>
              <b-col cols="7">
                <b-form-input placeholder="Caller Number" v-model="caller" />
              </b-col>
              <b-col cols="5">
                <b-button @click="getIMEIReport" class="btn-info btn-block">IMEI Report</b-button>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <br>
        <b-row>
          <b-col>
            <b-button class="btn-info btn-block" @click="getAreaReport">Area Report</b-button>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="9">

        <b-row v-if="displayArea">
          <b-col>
            <b-table :items="areaReport">
              <template slot="action" slot-scope="data">
                <span class="area-details" @click="viewDetailsAddress(data.item.address)">Details</span>
              </template>
            </b-table>
          </b-col>
        </b-row>

        <br>
        <br>
        <br>
        <b-row>
          <b-col>
            <b-button @click="print" v-if="hasData" class="float-right btn-success">Print</b-button>
          </b-col>
        </b-row>
        <div id="rp" v-if="hasData">

          <b-row>
            <b-col cols="12" id="caseInformation">
              <table border="1" style="float: left;border: 1px solid black;">
                <tr>
                  <th colspan="2"><span>{{verbose}}</span></th>
                </tr>
                <tr>
                  <th>Case Id</th>
                  <td>{{itemCase.id}}</td>
                </tr>
                <tr>
                  <th>Assignee</th>
                  <td>{{itemCase.asignee}}</td>
                </tr>
                <tr>
                  <th>Investigation Officer</th>
                  <td>{{itemCase.investigator}}</td>
                </tr>
                <tr>
                  <th>Case Date</th>
                  <td>{{new Date(itemCase.caseDate).toLocaleString()}}</td>
                </tr>
                <tr>
                  <th>File Date</th>
                  <td>{{new Date(itemCase.fileDate).toLocaleString()}}</td>
                </tr>
              </table>
            </b-col>
          </b-row>

          <br>
          <br>
          <br>
          <br>
          <b-row v-if="timegrid">
            <b-col class="lg-6">
              <b-table thead-class="thead-cdr dark" head-variant="dark" class="specifictd" responsive striped hover :items="timeGridData" :fields="timeGridFeilds">
                <template slot="id" slot-scope="data" >
                  {{data.index + 1}}
                </template>
                <template slot="date" slot-scope="data">
                  <!-- A custom formatted data column cell -->
                  {{new Date(data.item.date).toLocaleString()}}
                </template>
              </b-table>
            </b-col>
          </b-row>


          <b-row v-if="faddress">
            <b-col class="lg-6">
              <b-table thead-class="thead-cdr dark" head-variant="dark" class="specifictd" responsive striped hover :items="faddressData" :fields="faddressFields" >
              </b-table>
            </b-col>
          </b-row>

          <b-row v-if="general">
            <b-col class="lg-6">
              <b-table thead-class="thead-cdr dark" head-variant="dark" class="specifictd" responsive striped hover :items="callDetails" :fields="fields">
                <template slot="id" slot-scope="data" >
                  {{data.index + 1}}
                </template>
                <template slot="date" slot-scope="data">
                  <!-- A custom formatted data column cell -->
                  {{new Date(data.item.date).toLocaleString()}}
                </template>
                <template slot="address" slot-scope="data">
                  <span class="address" style="font-size: 8pt !important;">{{data.item.address}}</span>
                </template>
              </b-table>
            </b-col>
          </b-row>

          <b-row v-if="!general">
            <b-col class="lg-6">
              <b-table thead-class="thead-cdr dark" head-variant="dark" class="specifictd" responsive striped hover :items="imeiData" >
                <template slot="id" slot-scope="data" >
                  {{data.index + 1}}
                </template>
                <!--<template slot="date" slot-scope="data">-->
                  <!--&lt;!&ndash; A custom formatted data column cell &ndash;&gt;-->
                  <!--{{new Date(data.item.date).toLocaleString()}}-->
                <!--</template>-->
                <!--<template slot="address" slot-scope="data">-->
                  <!--<span class="address" style="font-size: 8pt !important;">{{data.item.address}}</span>-->
                <!--</template>-->
              </b-table>
            </b-col>
          </b-row>

        </div>
        <b-row v-if="!hasData && !displayArea">
          <b-col>
        <pre>
          No Data available
        </pre>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import CaseService from '../service/CaseService'
import printJS from 'print-js/dist/print'

const OPTIONS = {
  INCOMING_CALL: 0,
  OUTGOING_CALL: 1,
  SENT_MESSAGE: 2,
  RECEIVED_MESSAGE: 3,
  NIGHT_CALLS: 4,
  DAY_CALLS: 5,
  SUSPECTED_CALLS: 6,
  FREQUENT_CALLS: 7,
  SILENT_CALLS: 8,
  OFFICE_CALLS: 9,
  EVENING_CALLS: 10,
  DURATION: 11,
  FREQUENT_ADDRESS: 12
};

export default {
  name: "report-panel",
  props: ['id'],
  data() {
    return {
      filter: null,
      callDetails: [],
      disabled: false,
      timegrid: false,
      imeiFields: [
        'A', 'B'
      ],
      imeiData: [],
      fields: [
        'id',
        {
          key: 'date',
          label: 'Date',
          sortable: true
        },
        {
          key: 'caller',
          label: 'Party A'
        },
        {
          key: 'receiver',
          label: 'Party B'
        },
        {
          key: 'callDuration',
          label: 'Duration'
        },
        {
          key: 'usageType',
          label: 'Type'
        },
        {
          key: 'lac',
          label: 'LAC'
        },
        {
          key: 'cellId',
          label: 'Cell'
        },
        {
          key: 'imei',
          label: 'IMEI'
        },
        {
          key: 'address',
          label: 'Address'
        }
      ],
      timeGridFeilds: [
        'id',
        {
          key: 'date',
          label: 'Date',
          sortable: true
        },
        {
          key: 'caller',
          label: 'Party A'
        },
        {
          key: 'receiver',
          label: 'Party B'
        },
        {
          key: 'callDuration',
          label: 'Duration'
        }
      ],
      timeGridData: [],
      options: [
        {value: null, text: 'Select One'},
        {value: OPTIONS.INCOMING_CALL, text: 'Incoming Call Frequency'},
        {value: OPTIONS.OUTGOING_CALL, text: 'Outgoing Call Frequency'},
        {value: OPTIONS.SENT_MESSAGE, text: 'Text messages sent'},
        {value: OPTIONS.RECEIVED_MESSAGE, text: 'Text messages received'},
        {value: OPTIONS.NIGHT_CALLS, text: 'Night Calls'},
        {value: OPTIONS.DAY_CALLS, text: 'Day calls'},
        {value: OPTIONS.SUSPECTED_CALLS, text: 'Suspected Calls'},
        {value: OPTIONS.FREQUENT_CALLS, text: 'Frequent Calls'},
        {value: OPTIONS.SILENT_CALLS, text: 'Silent Calls'},
        {value: OPTIONS.OFFICE_CALLS, text: 'Office Calls'},
        {value: OPTIONS.EVENING_CALLS, text: 'Evening Calls'},
        {value: OPTIONS.DURATION, text: 'Timegrid'},
        {value: OPTIONS.FREQUENT_ADDRESS, text: 'FREQUENT ADDRESS'}
      ],
      headers: [],
      itemCase: {},
      verbose: "",
      caller: "",
      general: true,
      imeirp: false,
      areaReport: [],
      displayArea: false,
      faddressData:[],
      faddressFields:[
        {
          key: 'caller',
          label: 'Party A'
        },
        {
          key: 'receiver',
          label: 'Party B'
        },
        {
          key: 'address',
          label: 'Address'
        },
        {
          key: 'count',
          label: 'Count',
          sortable: true
        },
      ],
      faddress: false
    }
  },
  created() {
    CaseService.getDetailCase(this.id)
      .then((response)=> {
        this.itemCase = response.data
      })
      .catch((err) => {
        console.log(err)
      })
  },
  methods: {
    optionChanged() {
      this.general = true
      this.imeirp = false
      this.disabled = false
      this.displayArea = false
      this.timegrid = false
      this.faddress = false
      console.log("Current VALUE ", this.ca);
      switch (this.filter) {
        case OPTIONS.SUSPECTED_CALLS:
            this.verbose = "SUSPECTED CALLS"
          CaseService.getSuspectedCalls(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.NIGHT_CALLS:
          this.verbose = "Night CALLS"
          CaseService.getNightCalls(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;

        case OPTIONS.DAY_CALLS:
          this.verbose = "Day CALLS"
          CaseService.getDayCalls(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.FREQUENT_CALLS:
          this.verbose = "Frequent Calls"
          CaseService.getFrequentCommunication(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.SILENT_CALLS:
          this.verbose = "Silent Calls"
          CaseService.getSilentCallsByCase(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.OUTGOING_CALL:
          this.verbose = "Outgoing Call Frequency"
          CaseService.getOutgoingCallFrequencyByCase(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.INCOMING_CALL:
          this.verbose = "Incoming Call Frequency"
          CaseService.getIncomingCallFrequencyByCase(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.OFFICE_CALLS:
          this.verbose = "Office Calls"
          CaseService.getOfficeHourCalls(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.EVENING_CALLS:
          this.verbose = "Evening Calls"
          CaseService.getEveningCall(this.id)
            .then((response)=> {
              this.callDetails = response.data;
              console.log(this.callDetails);
              for(let key in this.callDetails[0]) {
                this.headers.push(key);
              }
            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.DURATION:
          this.verbose = "Duration Calls"
          this.timegrid = true
          this.general = false

          CaseService.findAllByDurationAndCase(this.id)
            .then((response)=> {
              this.timeGridData = response.data;

            })
            .catch((error) => {
              console.log(error);
            });
          break;
        case OPTIONS.FREQUENT_ADDRESS:
          this.verbose = "Frequent Address"
          this.faddress = true
          this.general = false

          CaseService.frequentCallAddress(this.id)
            .then((response)=> {
              this.faddressData = response.data;

            })
            .catch((error) => {
              console.log(error);
            });
          break;
        default:
          console.log("Default ")
          this.callDetails = []
      }
    },
    print() {
      this.disabled = true
      printJS({layout: 'landscape',maxWidth: 1024,documentTitle: 'Sample',printable: 'rp', properties: this.headers.slice(0,11), type: 'html', headerStyle: 'font-size: 8.2pt;font-weight: 1;'})
    },
    getIMEIReport() {

      this.general = false
      this.imeirp = true

      CaseService.getImeiReport(this.id, this.caller)
        .then((response) => {
          this.imeiData = response.data
        })
        .catch((err) => {
          console.log("Case Service ", err)
        })
    },
    getAreaReport() {
      console.log("Generating address Report");
      this.displayArea = true
      CaseService.getAreaDetails(this.id)
        .then((response) => {
          console.log("Length "+ response.data.length)
            this.areaReport = response.data
        })
        .catch((err) => {
          console.log(err);
        });
    },
    viewDetailsAddress(address) {
      this.general = true
      this.imeirp = false
      this.disabled = false
      this.verbose = "Detailed:: "+address
      CaseService.getCDRByAddressAndCid(this.id,address)
        .then((response)=>{
          this.callDetails = response.data
        })
        .catch((err) => {
          console.log(err)
      })

    }
  },
  computed: {
    hasData() {
      return this.callDetails.length > 0 || this.timeGridData.length > 0 || this.faddressData.length > 0;
    }
  }
}
</script>

<style scoped>
  /*@import "print-js/dist/print.min.css";*/
  @page { size: landscape; }
 .po {
   float: right !important;
 }
  .address {
    font-size: 8pt;
  }
  .generating {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(128,128,128,0.25);
    z-index: 20;
  }
  .sidebar {
    border: 1px solid black;
    height: auto;
    background: #212529;
    padding-top: 10px;
    box-shadow: 0px 0px 10px #5a6268;
  }
  .panel {
    height: 100vh;
  }

  .area-details {
    cursor: pointer;
  }
  .area-details:hover {
    text-decoration: underline;
    color: #005cbf;
  }
</style>
