<template>
    <div class="sms-analyzer">
      <div class="row">
        <div class="col-lg-4">
          <h4>Extracted Number</h4>
          <table class="table table-hovered">
            <thead>
              <tr>
                <th>A</th>
                <th>Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>123456</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "sms-analysis",
  props: ['id'],
  data() {

  }
}
</script>

<style scoped>

</style>
