<template>
    <div class="translator">
      <iframe src="https://translate.google.com/" frameborder="0"></iframe>
      <!--<b-row>-->
        <!--<b-col cols="5">-->
          <!--<b-form-textarea v-model="input"-->
                           <!--placeholder="Enter something"-->
                           <!--:rows="10"-->
                           <!--:no-resize="true"-->
                           <!--:max-rows="6"-->
          <!--&gt;</b-form-textarea>-->
        <!--</b-col>-->
        <!--<b-col>-->
          <!--&gt;>>>-->
        <!--</b-col>-->
        <!--<b-col cols="5">-->
          <!--<b-form-textarea v-model="output"-->
                           <!--placeholder="Enter something"-->
                           <!--:rows="10"-->
                           <!--:no-resize="true"-->
                           <!--:max-rows="6"></b-form-textarea>-->
        <!--</b-col>-->
      <!--</b-row>-->
    </div>
</template>

<script>
export default {
  name: "translator",
  data() {
    return {
      input: '',
      output: ''
    }
  }
}
</script>

<style scoped>

</style>
