<template>
  <b-modal @show="resetForm"
     id="modaluploadcdr"
     size="lg"
     :title="title"
     header-bg-variant="info"
     header-text-variant="light"
     :hide-footer=true
     :no-close-on-backdrop=true>

    <b-row v-if="isInitial">
      <b-col>
        <b-form-select v-model="operator">
          <option value="0">Select an Operator</option>
          <option value="1">Airtel</option>
          <option value="2">BanglaLink</option>
          <option value="3">GrameenPhone</option>
          <option value="4">Teletalk</option>

        </b-form-select>
      </b-col>
    </b-row>
    <b-row v-if="isInitial">
      <b-col v-if="isOperatorSelected">
        <b-form-file v-model="file" :name="uploadFieldName" :disabled="isSaving" :state="Boolean(file)" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length" placeholder="Choose a file..."></b-form-file>
      </b-col>
    </b-row>

    <b-row v-if="isOperatorSelected">
      <b-col>
        <p v-if="isSaving" align="center">
          <font-awesome-icon :icon="icons.faGlobe" spin /> <br>File is being saved</p>
        <p v-if="isInitial">Please select a file to upload</p>
        <p v-if="isFailed" align="center">
          File Upload Failed <br>
          <b-btn variant="danger" @click="resetForm">Retry</b-btn>
        </p>
        <p v-if="isSuccess" align="center">
          File uploaded successfully <br>
          <b-btn title="Upload another CDR" variant="info" @click="resetForm"><font-awesome-icon :icon="icons.faUpload"></font-awesome-icon></b-btn>
        </p>
      </b-col>
    </b-row>

  </b-modal>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import {faGlobe,faUpload} from '@fortawesome/fontawesome-free-solid'
  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3, IS_OPERATOR_SELECTED = 0;
  import { upload } from '../service/uploadService';
  export default {
  name: "upload-cdr",
  props: ['title', 'caseId'],
  components:{ FontAwesomeIcon },
  data () {
    return {
      file: null,
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'file',
      icons: {faGlobe,faUpload},
      operator: '0'
    }
  },
  mounted(){
    this.resetForm();
  },
  methods: {
    resetForm() {
      this.file = null;
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
      this.operator = '0';
    },
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
      this.operator = '0';
    },
    save(formData) {
      // upload data to the server
      this.currentStatus = STATUS_SAVING;

      upload(formData,this.caseId,this.operator)
        .then(x => {
          // console.log(x);
          this.$parent.loadData();
          // this.uploadedFiles = [].concat(x);
          this.currentStatus = STATUS_SUCCESS;
          this.file = null;
        })
        .catch(err => {
          this.uploadError = err.response;
          this.currentStatus = STATUS_FAILED;
          this.file = null;
        });
    },
    filesChange(fieldName, fileList) {
      console.log(fieldName, fileList);
      // handle file changes
      const formData = new FormData();

      if (!fileList.length) return;

      // append the files to FormData
      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });

      // save it
      this.save(formData);
    }
    },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
    isOperatorSelected() {
      let test = this.operator !== '0';
      console.log("isOperator Selected:: ",test)
      return test;
    }

  }
}
</script>

<style scoped>
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
