<template>
  <div id="app">
    <div class="navigation">
        <ul>
            <li><a href="#" style="margin-left: -7px;">
              <i style="color: #c9c9c9;" class="material-icons">apps</i>

              </a></li>
            <li>
                <span style="font-size: 34px;color: #ffffff;" >Datalize</span>
            </li>
        </ul>
    </div>
    <div class="navigation-bar">
        <ul>
          <li>File</li>
          <li>Edit</li>
          <li>Tools</li>
          <li>Reports</li>
          <li>Help</li>
        </ul>
    </div>
    <div class="main">
        <!-- <div class="sidebar">
            <ul>
                <li>
                    <a href="case-home.html">Case</a>
                </li>
            </ul>
        </div> -->
        <router-view></router-view>
      
    </div>
  </div>
</template>

<style>
body, html {
            background: #ffffff;
            
        }
        .navigation {
            height: 45px;
            float: left;
            width: 100%;
            background: #223e6f;
            color: #ffffff;
            font-family: sans-serif;
            
            /* border-bottom: 1px groove #343a40; */
        }
        .navigation-bar {
          width: 100%;
          height: 34px;
          float: left;
          color: #ffffff;
          background: #13284b !important;
        }
        .navigation-bar ul {
          padding: 11px;
          margin: 0px;
        }
        .navigation-bar > ul li {
          display: inline;
          padding: 5px;
        }
        .navigation ul {
            padding: 5px;
            margin: 0px;
        }
        .navigation ul li {
            display: inline;
            padding: 5px;
            cursor: pointer;
        }
        .navigation-bar ul li:hover {
          background: #ffffff;
          color: #000;
          cursor: pointer;
          transition: background 550ms;
        } 
        .main {
            /* position: relative; */
            width: 100%;
            float: left;
            height: 100vh;
            
        }
        .sidebar {
            background: #223e6f85;
            float: left;
            width: 15%;
            border-right: 1px groove #0f0f0f10;
            height: 100vh;
        }
        .content {
           
        }
        .content-header {
            width: 100% !important;
            background: #13274b;padding: 13px;margin: 0px;
            color: #ffffff;
        }
#case-details-content-tab 
.card-header
{
  padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(19, 41, 75) !important;
    border-bottom: 1px solid rgb(33, 10, 10);
}

a {
  color: #ffffff !important;
}
</style>
